<footer class="footer">
  <div class="p2 wrap">
    <div class="measure mt1 center">
      <small>
        Theme: <a href="https://github.com/johnotander/pixyll.git">pixyll</a>.
      </small>
      <small>
        &copy; NUS Hackers
      </small>
    </div>
  </div>
</footer>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>